.jumbotron {
    background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
    background: #1F618D;
    border-radius: 5px;
}

body {
    overflow: hidden;
}

.info_general {
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.info_general::-webkit-scrollbar {
    width: 3px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: block;
    /* Ocultar scroll */
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.info_general::-webkit-scrollbar-thumb {
    background: #963484ff;
    border-radius: 5px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.info_general::-webkit-scrollbar-thumb:hover {
    background: #e6e8e6ff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

.info_general::-webkit-scrollbar-thumb:active {
    background-color: #963484ff;
}